// position
@mixin position($mode:false,$top:false,$left:false,$zIndex:2,$right:false){
  @if $mode {
    position:$mode;
  }
  @if $top {
    top:$top;
  }
  @if $left {
    left:$left;
  }
  @if $right {
    right:$right;
  }
  @if $mode == fixed or $mode == absolute{
    z-index:$zIndex
  }
}

// center
@mixin boxCenter($display:block,$height:false,$lineHeight:false,$textAlign:false){
  @if $display {
    display: $display;
  } @else {
    display:block;
  }
  @if $height {
    height:$height;
  }
  @if $lineHeight {
    line-height:$lineHeight;
  }
  @if $textAlign {
    text-align:$textAlign;
  }
}

// flex
@mixin flex($level:false,$vertical:false,$direction:false,$wrap:false){
  display: flex;
  @if $level {
    justify-content: $level;  //主轴对齐方式
  }
  @if $vertical {
    align-items: $vertical;   //副轴对齐方式
  }
  @if $direction {
    flex-direction: $direction;   //水平还是垂直排列
  }
  @if $wrap {
    flex-wrap:$wrap;  //是否换行
  }
}

// btn
@mixin default-btn($width:false,$padding:5px 10px,$borderRadius:5px,$border:1px solid $main-color,$fontSize:$sm-size,$fontWeight:300,$bgColor:$white-text-color){
  text-align: center;
  cursor: pointer;
  @if $width {
    width:$width;
  }
  @if $padding {
    padding:$padding;
  }
  @if $borderRadius {
    border-radius: $borderRadius;
  }
  @if $border {
    border:$border;
  }
  @if $fontSize {
    font-size:$fontSize;
  }
  @if $fontWeight {
    font-size:$fontWeight
  }
  @if $bgColor {
    background-color: $bgColor;
  }
}

// input
@mixin default-input($width:false,$height:false,$lineHeight:false,$padding:false,$border:false,$color:false,$bgColor:false,$borderRadius:false,$fontSize:false) {
  outline: none;
  @if $width {
    width:$width;
  }
  @if $height {
    height:$height;
  }
  @if $lineHeight {
    line-height:$lineHeight;
  }
  @if $padding {
    padding:$padding;
  }
  @if $border {
    border:$border;
  }
  @if $color {
    color:$color;
  }
  @if $bgColor {
    background-color:$bgColor;
  }
  @if $borderRadius {
    border-radius:$borderRadius;
  }
  @if $fontSize {
    font-size:$fontSize;
  }
  &:focus{
    @if $bgColor {
      background-color:$bgColor;
    }
    @if $border {
      border:$border;
    }
  }
}

// box
@mixin default-box($width:100%,$padding:false,$color:false,$bgColor:false,$boxShadow:false,$borderRadius:false){
  width:$width;
  @if $padding {
    padding:$padding;
  }
  @if $color {
    color:$color;
  }
  @if $bgColor {
    background-color:$bgColor;
  }
  @if $borderRadius {
    border-radius: $borderRadius;
  }
  @if $boxShadow {
    box-shadow: $boxShadow;
  }
}

// width and margin
@mixin marginAuto($width:100%){
  width: $width;
  margin:0 auto;
}

// inline-block and width
@mixin inlineBlockWidth($width:30px){
  display: inline-block;
  width: $width;
}

// width and height
@mixin widthHeight($width:false,$height:false,$maxWidth: false,$maxHeight: false,$minWidth: false, $minHeight: false){
  @if $width {
    width: $width;
  }
  @if $height {
    height:$height;
  }
  @if $maxWidth {
    max-width:$maxWidth;
  }
  @if $maxHeight {
    max-height:$maxHeight;
  }
  @if $minWidth {
    min-width:$minWidth;
  }
  @if $minHeight {
    min-height:$minHeight;
  }
}

// font
@mixin font($size:false,$weight:false,$color:false){
  @if $size {
    font-size:$size;
  }
  @if $weight {
    font-weight:$weight;
  }
  @if $color {
    color:$color;
  }
}

// margin and padding
@mixin margin($margin:0,$padding:0){
  margin:$margin;
  padding:$padding;
}

// color and hover
@mixin color($color:false,$colorHover:false,$bgColor:false,$bgColorHover:false){
  @if $color {
    color:$color;
  }
  @if $bgColor {
    background-color: $bgColor;
  }
  &:hover{
    @if $colorHover {
      color:$colorHover;
    }
    @if $bgColorHover {
      background-color: $bgColorHover;
    }
  }
}

// line-height
@mixin lineHeight($height:false,$lineHeight:false) {
  @if $height {
    height:$height;
  }
  @if $lineHeight {
    line-height: $lineHeight;
  }
}

// round
@mixin round($width:false,$height:false,$radius:false) {
  @if $width {
    width: $width;
  }
  @if $height {
    height:$height;
  }
  @if $radius {
    border-radius: $radius;
  }
}
