/* project color */
$mainColor: #34ADA0;
$titleColor: #333333;
$secondaryColor: #8493A8;
$hoverColor: #CCCCCC;
$whiteColor: #FFFFFF;
$arrowColor: #000000;
$mainGradientStartColor: #34ADA0;
$mainGradientEndColor: #33D499;

/* project font-size */
$xlg-size: 40rpx;
$lg-size: 36rpx;
$md-size: 32rpx;
$sm-size: 28rpx;
$xs-size: 24rpx;

// distance
$one-length:1px;
$two-length:2px;
$three-length:3px;
$five-length:5px;
$ten-length:10px;
$fifteen-length:15px;
$twenty-length:20px;
$thirty-length:30px;
$forty-length:40px;
$fifty-length:50px;

// percentage
$one-percentage:1%;
$two-percentage:2%;
$three-percentage:3%;
$five-percentage:5%;
$ten-percentage:10%;
$twenty-percentage:15%;
$twenty-percentage:20%;
$twenty-five-percentage:25%;
$twenty-percentage:30%;
$thirty-three-percentage:33.3333%;
$forty-percentage:40%;
$fifty-percentage:50%;
$hundred-percentage:100%;

// position
$relative-position:relative;
$absolute-position:absolute;
$fixed-position:fixed;

// weight
$bold-weight:600;
$thick-weight:400;
$normal-weight:300;

/* methods && components Style */
@import './assets/style/index.scss'